#cc--main {
  --cc-bg: var(--wp--custom--bodybackground-color);
  --cc-text: var(--wp--custom--defaulttext-color);
  --cc-btn-primary-bg: var(--wp--custom--primary-color);
  --cc-btn-primary-text: var(--wp--custom--primary-color-contrast);
  --cc-btn-primary-hover-bg: var(--wp--custom--primary-color-hover);
  --cc-btn-secondary-bg: var(--wp--custom--secondary-color);
  --cc-btn-secondary-text: var(--wp--custom--secondary-color-contrast);
  --cc-btn-secondary-hover-bg: var(--wp--custom--secondary-color-hover);
  --cc-toggle-bg-off: #919ea6;
  --cc-toggle-bg-on: var(--cc-btn-primary-bg);
  --cc-toggle-bg-readonly: #d5dee2;
  --cc-toggle-knob-bg: #fff;
  --cc-toggle-knob-icon-color: #ecf2fa;
  --cc-block-text: var(--cc-text);
  --cc-cookie-category-block-bg: #f0f4f7;
  --cc-cookie-category-block-bg-hover: #e9eff4;
  --cc-section-border: #f1f3f5;
  --cc-cookie-table-border: #e9edf2;
  --cc-overlay-bg: rgba(4, 6, 8, 0.85);
  --cc-webkit-scrollbar-bg: #cfd5db;
  --cc-webkit-scrollbar-bg-hover: #9199a0;
}
#c-p-bn::after {
  display: none;
}

#c-ttl {
  color: var(--wp--custom--heading-color);
}

$colors: primary, secondary, third, fourth, fifth, sixth, seventh, eighth,
  defaulttext, darktext, heading, "white", "black", bodybackground,
  altbackground, border;

@each $color in $colors {
  .cookie-consent-primary-button-#{$color}-color #cc--main {
    --cc-btn-primary-bg: var(--wp--custom--#{$color}-color);
    --cc-btn-primary-text: var(--wp--custom--#{$color}-color-contrast);
    --cc-btn-primary-hover-bg: var(--wp--custom--#{$color}-color-hover);
  }
}
